!!!5
%html
  %head
    %title u2f sinatra
    %script{src: "chrome-extension://pfboblefjcgdjicmnffhdgionmgcdmne/u2f-api.js"}
  %body

    %h1 Signature Response Object
    %dl
      %dt user public key
      %dd= reg_resp.user_public_key.inspect
      %dt key handle
      %dd&= reg_resp.key_handle.inspect
      %dt attestation certificate
      %dd&= reg_resp.attestation_certificate.pretty_inspect
    %code
      %pre&= reg_resp.pretty_inspect

    %script#u2f-sign-data{type: 'text/json'}= JSON.dump auth_req.as_json
    %script{src: 'jquery.js'}
    %script{src: 'u2f.js'}
